* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

#main-canvas {
    background-color: black;
}

#control-panel {
    position: absolute;
    left: 0;
    top: 0;
}

#uploadInput {
    display: none;
}
